<template>
  <div>
      <button v-if="StateManager.history.length"
              @click="StateManager.goBack">
        <chevron-left-icon />
      </button>
      <span>
        /{{ StateManager.state.path }}
      </span>
  </div>
  <spinner v-show="showSpinner" />
  <div v-show="!showSpinner">
    <directory-new-file :StateManager="StateManager"
                        :ServerStore="ServerStore"
                        />
    <ul>
      <template v-for="record in files"
                :key="record.path">
        <li v-if="record.type == 'tree'">
          <a :href="'#' + record.name" @click="StateManager.goToPath(record.path)">
            <folder-icon />
            <span>
              {{ record.name }}
            </span>
          </a>
        </li>
      </template>
    </ul>
    <ul>
      <template v-for="record in files"
                :key="record.path">
        <li v-if="record.type != 'tree'">
          <a :href="'#' + record.name" @click="StateManager.editFile(record.path)">
            <file-text-icon />
            <span>
              {{ record.name }}
            </span>
          </a>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>

  import {
    ChevronLeftIcon,
    FolderIcon,
    FileTextIcon
  } from '@zhuowenli/vue-feather-icons';
  import DirectoryNewFile from './DirectoryNewFile.vue';
  import Spinner from './Spinner.vue';

  export default {
    name: 'Directory',
    props: {
      StateManager: Object,
      ServerStore: Object
    },
    data: function() {
      return {
        files: null,
        showSpinner: true
      }
    },
    components: {
      ChevronLeftIcon,
      DirectoryNewFile,
      FolderIcon,
      FileTextIcon,
      Spinner
    },
    inject: ['i18n'],

    created: function() {
      if(this.ServerStore.hasCreds()) {
        this.fetchFileList();
      }
    },

    watch: {
      'StateManager.updateKey': {
        handler() {
          this.fetchFileList();
        }
      },
      'ServerStore.creds.server': {
        handler() {
          if(this.ServerStore.hasCreds()) {
            this.fetchFileList();
          }
        }
      },
      'ServerStore.creds.project': {
        handler() {
          if(this.ServerStore.hasCreds()) {
            this.fetchFileList();
          }
        }
      }
    },

    methods: {
      fetchFileList: function() {
        this.showSpinner = true;
        console.log('fetching file list');
        this.ServerStore.api.get(
          '/repository/tree/?path=' + this.StateManager.state.path
        ).then(result => {
          this.files = result.data;
          this.showSpinner = false;
        }).catch(error => {
          console.error('directory listing failed :', error);
          this.files = null;
          let message = this.$translate('listing_failed') + ' : ';
          if(error.response) {
            switch(error.response.status) {
              // See https://docs.gitlab.com/13.7/ee/api/#status-codes .
              case 404:
                message += this.$translate('unknown_id');
                break;
              case 401:
                message += this.$translate('no_auth_error');
                break;
              default:
                message += this.$translate('unknown_error');
            }
          } else if(error.request) {
            if(error.message == "Network Error") {
              message += this.$translate('network_error');
            } else {
              switch(error.code) {
                case 'ECONNABORTED':
                  message += this.$translate('unknown_url');
                  break;
                default:
                  message += this.$translate('unknown_error');
              }
            }
          } else {
            message += this.$translate('unknown_error');
          }
          console.log(message);
          this.StateManager.tellError(message);
          this.showSpinner = false;
        });
      }
    }
  }
</script>

<style scoped>
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }
</style>
