<template>
  <select class="dropdown">
    <option value="" selected disabled>
      +
    </option>
    <option @click="newFileDialog">
      nouveau fichier
    </option>
  </select>
  <Popup v-show="showNewFileDialog">
    <div class="dialog">
      <div class="title-bar">
        <button @click="showNewFileDialog = false">
          <chevron-left-icon />
        </button>
        <h4>Nouveau fichier</h4>
        <button @click="addFile">
          <save-icon />
        </button>
      </div>
      <span>
        /{{ StateManager.state.path ? StateManager.state.path + "/" : "" }}
        <input v-model="newFileName"
               type="text"
               placeholder="path/to/file.ext"
               />
      </span>
    </div>
  </Popup>
</template>

<script>
  import {
    ChevronLeftIcon,
    SaveIcon
  } from '@zhuowenli/vue-feather-icons';
  import Popup from './Popup.vue';

  export default {
    name: 'DirectoryNewFile',
    props: {
      StateManager: Object,
      ServerStore: Object
    },
    data: function() {
      return  {
        showNewFileDialog: false,
        newFileName: ''
      }
    },
    components: {
      ChevronLeftIcon,
      SaveIcon,
      Popup
    },
    inject: ['i18n'],
    methods: {
      addFile: function() {
        let file = this.StateManager.state.path + '/' + this.newFileName;
        console.log('creating file on remote repo', file);
        this.ServerStore.api.post('/repository/commits', {
          id: this.ServerStore.creds.project,
          branch: 'master',
          commit_message: 'add file ' + file,
          actions: [{
            action: 'create',
            file_path: file,
            content: ''
          }]
        })
        .then(() => {
          this.StateManager.incrementUpdateKey();
          this.StateManager
            .tell(file + ' '
                  + this.$translate('file_created'));
        })
        .catch(error => {
          console.error('error saving', error.message);
          this.StateManager
            .tellError(this.$translate('file_create_failed')
                       + ' : ' + error.response.statusText);
        });
        this.showNewFileDialog = false;
        this.newFileName = '';
      },
      newFileDialog: function() {
        console.log('new file popup displayed');
        this.showNewFileDialog = true;
      }
    }
  }
</script>

<style scoped>
  .dropdown {
    margin-left: 0.5em;
    width: 4em;
  }
  .dialog {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .dialog h4 {
    display: inline;
  }
  .title-bar {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
</style>
