<template>
  <button @click="showFileDeleteDialog = true">
    <trash-2-icon />
  </button>
  <Popup v-show="showFileDeleteDialog">
    <div class="dialog">
      <div class="title-bar">
        <button @click="showFileDeleteDialog = false">
          <chevron-left-icon />
        </button>
        <h4>suppression du fichier</h4>
        <button @click="deleteFile">
          <trash-2-icon />
        </button>
      </div>
      <span>
        /{{ StateManager.state.path }}
      </span>
    </div>
  </Popup>
</template>

<script>
  import {
    ChevronLeftIcon,
    Trash2Icon
  } from '@zhuowenli/vue-feather-icons';
  import Popup from './Popup.vue';

  export default {
    name: 'FileDelete',
    props: {
      StateManager: Object,
      ServerStore: Object
    },
    data: function() {
      return  {
        showFileDeleteDialog: false
      }
    },
    components: {
      ChevronLeftIcon,
      Trash2Icon,
      Popup
    },
    inject: ['i18n'],
    methods: {
      deleteFile: function() {
        let file = this.StateManager.state.path;
        console.log('deleting file ' + file);
        this.ServerStore.api.post('/repository/commits', {
          id: this.ServerStore.creds.project,
          branch: 'master',
          commit_message: 'delete file ' + file,
          actions: [{
            action: 'delete',
            file_path: file
          }]
        })
        .then(() => {
          this.StateManager.incrementUpdateKey();
          this.StateManager.tell(file + ' ' + this.$translate('file_deleted'));
        })
        .catch(error => {
          console.error('error saving ', error.message);
          this.StateManager.tellError(this.$translate('file_delete_failed')
                                      + ' : ' + error.response.statusText);
        });
        // Jump back to containing folder :
        this.StateManager.goBack();
      }
    }
  }
</script>

<style scoped>
  .dialog {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .dialog h4 {
    display: inline;
  }
  .title-bar {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
</style>
