<template>
  <div>
    <button @click="StateManager.goBack">
      <chevron-left-icon />
    </button>
    <span>
      /{{ StateManager.state.path }}
    </span>
    <file-delete :StateManager="StateManager"
                 :ServerStore="ServerStore"
                 />
    <button @click="saveFile">
      <save-icon />
    </button>
  </div>
  <spinner v-show="showSpinner" />
  <div id="editor" v-show="!showSpinner">
    <textarea v-model="input" />
  </div>
</template>

<script>

  import {
    ChevronLeftIcon,
    SaveIcon
  } from '@zhuowenli/vue-feather-icons';
  import FileDelete from './FileDelete.vue';
  import Spinner from './Spinner.vue';

  if(!window.escape) {
    window.escape = function(str) {
      return decodeURIComponent(atob(str).split('').map(function(c) {
          return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
    }
  }

  export default {
    name: 'File',
    props: {
      StateManager: Object,
      ServerStore: Object
    },
    data: function() {
      return  {
        input: '_loading_',
        showSpinner: true
      }
    },
    components: {
      ChevronLeftIcon,
      SaveIcon,
      FileDelete,
      Spinner
    },
    inject: ['i18n'],

    created: function() {
      this.readFile();
    },

    methods: {
      readFile: function() {
        let request = '/repository/files/'
                      + encodeURIComponent(
                        this.StateManager.state.path)
                      + "?ref=master";
        this.ServerStore.api.get(request)
        .then(result => {
          this.input = decodeURIComponent(
            escape(atob(result.data.content)))
          this.showSpinner = false;
          this.StateManager.tell('');
        })
        .catch(error => {
          console.error('file read failed : ' + error.message)
          console.log('request was : ' + request);
          this.StateManager
            .tellError(this.$translate('file_read_failed')
                       + ' ' + this.StateManager.state.path
                       + ' : ' + error.response.statusText);
        });
      },
      saveFile: function() {
        let file = this.StateManager.state.path;
        console.log('saving file ' + file);
        this.ServerStore.api.post('/repository/commits', {
          id: this.ServerStore.creds.project,
          branch: 'master',
          commit_message: 'update file ' + file,
          actions: [{
            action: 'update',
            file_path: file,
            content: this.input
          }]
        })
        .then(() => {
          this.StateManager.incrementUpdateKey();
          this.StateManager
            .tell(file + ' ' +
                  this.$translate('file_saved'));
        })
        .catch(error => {
          console.error('error saving ', error.message);
          this.StateManager
            .tellError(this.$translate('file_save_failed')
                       + ' : ' + error.response.statusText);
        });
      },
    }
  }

</script>
<style scoped>
  .title-bar {
    margin: auto;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  #editor {
    margin: auto;
  }
  textarea {
    width: 99.5%;
    height: calc(100vh - 250px);
  }
</style>
