<template>
  <div>
    <span :class="message.type">
      {{ message.content }}
    </span>
  </div>
</template>

<script>
  export default {
    name: 'Messenger',
    props: {
      message: Object
    }
  }
</script>

<style scoped>
  div {
    text-align: center;
  }
  span {
    padding: 0.5em;
    border-radius: 0.5em;
  }
  span.info {
    background-color: lightblue;
  }
  span.error {
    background-color: orange;
  }
</style>
