<template>
  <div class="popup-bg">
    <div class="popup">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>
  .popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup {
    position: relative;
    left: 20vw;
    top: 20vh;
    width: 60vw;
    height: 60 vh;
    margin-bottom: 1em;
  }
  .hidden {
    display: none !important;
  }
</style>
