<template>
  <button @click="showSettingsDialog = true">
    <settings-icon />
  </button>
  <popup v-show="showSettingsDialog">
    <div id="settings">
      <div class="title-bar">
        <button @click="showSettingsDialog = false">
          <chevron-left-icon />
        </button>
        <h4>Identifiants</h4>
        <button v-if="ServerStore.hasCreds()"
                @click="removeSettings">
          <trash-2-icon />
        </button>
      </div>
      <form>
        <settings-select-server :ServerStore="ServerStore" />
        <template v-if="ServerStore.hasCreds() && ServerStore.hasToken()">
          <settings-select-project :ServerStore="ServerStore"
                                   />
        </template>
      </form>
    </div>
  </Popup>
</template>

<script>
  import {
    SettingsIcon,
    Trash2Icon,
    ChevronLeftIcon
  } from '@zhuowenli/vue-feather-icons';
  import SettingsSelectServer from './SettingsSelectServer.vue';
  import SettingsSelectProject from './SettingsSelectProject.vue';
  import Popup from './Popup.vue';

  export default {
    name: 'Settings',
    props: {
      StateManager: Object,
      ServerStore: Object
    },
    data: function() {
      return {
        showSettingsDialog: false,
        server: this.ServerStore.creds.server,
        project: this.ServerStore.creds.project,
        token: this.ServerStore.creds.token,
        projects: []
      }
    },
    components: {
      SettingsSelectServer,
      SettingsSelectProject,
      Popup,
      SettingsIcon,
      Trash2Icon,
      ChevronLeftIcon
    },
    inject: ['i18n'],

    methods: {
      saveSettings: function() {
        let newCreds = {
          server: this.server,
          project: this.project,
          token: this.token
        };
        this.ServerStore.saveCreds(newCreds);
        this.StateManager.tell(this.$translate('creds_updated'));
      },
      removeSettings: function() {
        let newCreds = {
          server: {
            name: '',
            url: '',
            clientId: '',
            clientSecret: ''
          },
          project: '',
          token: ''
        };
        this.ServerStore.saveCreds(newCreds);
        this.showSettingsDialog = false;
        this.StateManager.tell(this.$translate('creds_removed'));
      },

    }
  }

</script>
<style scoped>
  #settings {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .title-bar {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  form {
    width: 50vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    gap: 0.5em;
  }
  form :nth-child(odd) {
    text-align: right;
  }
  .hidden {
    display: none !important;
  }
</style>
