<template>
  <select class="dropdown">
    <option selected="selectedServer.name == ''" disabled>
      {{ $translate('server') }}
    </option>
    <template v-for="server in Object.keys(serverList)"
              :key="server">
      <option :value="server"
              :selected="selectedServer.name == serverList[server].name"
              @click="selectGitlabServer">
        {{ serverList[server].name }}
      </option>
    </template>
  </select>

  <a v-if="ServerStore.hasCreds() && !ServerStore.hasToken()"
     :href="serverAuthUrl">
    {{ $translate('get_auth') + " " + ServerStore.creds.server.name }}
  </a>
</template>

<script>
  export default {
    name: 'SettingsSelectServer',
    props: {
      ServerStore: Object
    },
    data: function() {
      return {
        serverList: this.ServerStore.gitlabServers,
        selectedServer: this.ServerStore.creds.server,
        serverAuthUrl: '',
      }
    },
    inject: ['i18n'],
    methods: {
      selectGitlabServer: function(event) {
        // this.selectedServer is a string containing the server name, used as
        // index of ServerStore.gitlabServers .
        this.selectedServer = this.ServerStore.gitlabServers[event.target.value];
        this.ServerStore.setServer(this.selectedServer);
        this.serverAuthUrl = this.selectedServer.url + '/oauth/authorize?client_id='
          + this.selectedServer.clientId
          + '&redirect_uri=https%3A%2F%2Frelatif.moi%2Fvue%2Fcallback%2Fgitlab.html&response_type=code&state=MY_OWN_VERY_SPECIAL_STATE_HASH&scope=api';
        console.log('selecting gitlab instance:', this.selectedServer.name);
      },
    }
  }
</script>
