<template>
  <select class="dropdown">
    <option :selected="selectedProject == ''" disabled>
      {{ $translate('project') }}
    </option>
    <template v-for="project in projects"
              :key="project.name">
      <option :value="project.path_with_namespace"
              :selected="selectedProject == project.path_with_namespace"
              @click="selectProject">
        {{ project.name }}
      </option>
    </template>
  </select>
</template>
<script>
  import axios from 'axios';
  export default {
    name: 'SettingsSelectProject',
    props: {
      ServerStore: Object
    },
    data: function() {
      return {
        server: this.ServerStore.creds.server,
        selectedProject: this.ServerStore.creds.project,
        token: this.ServerStore.creds.token,
        projects: []
      }
    },
    created: function() {
      if(this.ServerStore.hasCreds() && this.ServerStore.hasToken()) {
        this.listProjects();
      }
    },
    inject: ['i18n'],
    methods: {
      listProjects: function() {
        let base_api = axios.create({
          baseURL: this.server.url + '/api/v4',
          headers: { 'Authorization': 'Bearer ' + this.token }
        });
        base_api.get(
          '/user'
        ).then(result => {
          let user = result.data;
          base_api.get(
            '/users/' + user.username + '/projects'
          ).then(result => {
            this.projects = result.data;
          }).catch(error => {
            console.log('could not fetch project list:', error);
          });
          base_api.get(
            '/groups'
          ).then(result => {
              let groups = result.data;
              for(let group in groups) {
                let group_name = groups[group].name;
                base_api.get(
                  '/groups/' + group_name + '/projects'
                ).then(result => {
                  this.projects.push(...result.data);
                  //console.log('projets dans le groupe', group_name,
                  //            ':', result.data);
                }).catch(error => {
                  console.log('could not fetch group', group_name,
                              'details:', error);
                });
              }
            }).catch(error => {
              console.log('could not fetch belonging group list:', error);
          });
        }).catch(error => {
          console.log('could not fetch user name:', error);
        });
      },
      selectProject: function(event) {
        this.selectedProject = event.target.value;
        this.ServerStore.setProject(this.selectedProject);
        console.log('selecting project:', this.selectedProject);
        this.showSettingsDialog = false;
      }
    }
  }
</script>
