<template>
  <div class="title">
    <img id="logo" src="./assets/logo.png">
    <h1>GitlabVue</h1>
  </div>
  <messenger v-if="StateManager.message.content"
             :message="StateManager.message"
             />
  <!--
    4 Possibilities :

    - There's no configured server. Display server choice.
    - There's a configured server but no token. Display link.
    - There's a configured server and a token but no project. Display project
      select.
    - There's a configured server, token and project. Show the project.
  -->
  <template v-if="!ServerStore.hasCreds()">
    <p>
      {{ $translate('welcome_message') }}
    </p>
    <settings-select-server :ServerStore="ServerStore" />
  </template>
  <template v-if="ServerStore.hasCreds() && !ServerStore.hasToken()">
    <p>
      {{ $translate('welcome_get_token') }}
    </p>
    <settings-select-server :ServerStore="ServerStore" />
  </template>
  <template v-if="ServerStore.hasCreds() && ServerStore.hasToken() && !ServerStore.hasProject()">
    <p>
      {{ $translate('welcome_choose_project') }}
    </p>
    <settings-select-project :ServerStore="ServerStore" />
  </template>

  <template v-if="ServerStore.hasCreds() && ServerStore.hasToken() && ServerStore.hasProject()">
    <span class="project-title">
      <h2>
        {{ ServerStore.creds.project.split('/')[1] }}
      </h2>
      <settings :ServerStore="ServerStore"
                :StateManager="StateManager"
                />
    </span>
    <file v-if="StateManager.state.editing"
          :ServerStore="ServerStore"
          :StateManager="StateManager"
          />
    <directory v-else
               :ServerStore="ServerStore"
               :StateManager="StateManager"
               ref="StateManager.updateKey"
               />
  </template>
</template>

<script>
  import Directory from './components/Directory.vue';
  import File from './components/File.vue';
  import Settings from './components/Settings.vue';
  import SettingsSelectServer from './components/SettingsSelectServer.vue';
  import SettingsSelectProject from './components/SettingsSelectProject.vue';
  import Messenger from './components/Messenger.vue';
  import { StateManager } from './components/StateManager.ts';
  import { ServerStore } from './components/ServerStore.ts';

  const params = new URLSearchParams(window.location.search);
  const token = params.get('token');

  export default {
    name: 'App',
    data: function() {
        return {
          StateManager,
          ServerStore
        }
    },
    components: {
      Messenger,
      Directory,
      File,
      Settings,
      SettingsSelectServer,
      SettingsSelectProject
    },
    created: function() {
      this.ServerStore.loadCreds();
      if(token) {
        console.log('received token:', token);
        this.ServerStore.setToken(token);
      }
      console.log('server', this.ServerStore.creds.server.url);
      console.log('project', this.ServerStore.creds.project);
    },
  }
</script>

<style>
  html {
    font-size: x-large;
  }
  #app {
    max-width: 51em;
    margin: auto;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  .title {
    display: flex;
    margin: auto;
    justify-content: center;
  }
  .project-title {
    display: flex;
    /*
    justify-content: space-between;
    */
    align-items: baseline;
  }
  .project-title > h2 {
    display: inline;
  }
  .title img {
    height: 100px;
    width: 100px;
  }
  p {
    max-width: 40em;
    margin: auto;
  }
  button {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
</style>
